@{
    ViewBag.Title = "Stats";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Accueil - ActeursApp</title>
   
</head>
<body>

    <div class="container">
        <h2>Statistiques</h2>
        <p>Nombre total d'acteurs : @ViewBag.Total</p>
    </div>

</body>
</html>
